In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf

In [2]:
#step 1 = load data
dataframe = pd.read_csv('data.csv') # the dataframe
datframe = dataframe.drop(['index', 'price', 'sq_price'], axis = 1) # remove features we dont care about
dataframe = dataframe [0:10] # only want to use the first ten rows for now

dataframe

   index    area  bathrooms     price    sq_price
0      0  2104.0        3.0  399900.0  190.066540
1      1  1600.0        3.0  329900.0  206.187500
2      2  2400.0        3.0  369000.0  153.750000
3      3  1416.0        2.0  232000.0  163.841808
4      4  3000.0        4.0  539900.0  179.966667
5      5  1985.0        4.0  299900.0  151.083123
6      6  1534.0        3.0  314900.0  205.280313
7      7  1427.0        3.0  198999.0  139.452698
8      8  1380.0        3.0  212000.0  153.623188
9      9  1494.0        3.0  242500.0  162.315930