In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf

In [15]:
# Step 1 = load data
dataframe = pd.read_csv('data.csv') # the dataframe

# remove features we dont care about
dataframe = dataframe.drop(['index', 'price', 'sq_price'], axis = 1) 

dataframe = dataframe [0:10] 

dataframe

     area  bathrooms
0  2104.0        3.0
1  1600.0        3.0
2  2400.0        3.0
3  1416.0        2.0
4  3000.0        4.0
5  1985.0        4.0
6  1534.0        3.0
7  1427.0        3.0
8  1380.0        3.0
9  1494.0        3.0

In [17]:
# Step 2 - Add labels to turn it into a classification problem
# 1 is good buy and 0 is bad buy
dataframe.loc[:, ('y1')] = [1,1,1,0,0,1,0,1,1,1]

# y2 is negation of y1
dataframe.loc[:, ('y2')] = dataframe['y1'] == 0

# to display true/false as 1/0
dataframe.loc[:, ('y2')] = dataframe.loc[:, ('y2')].astype(int)
dataframe

     area  bathrooms  y1  y2
0  2104.0        3.0   1   0
1  1600.0        3.0   1   0
2  2400.0        3.0   1   0
3  1416.0        2.0   0   1
4  3000.0        4.0   0   1
5  1985.0        4.0   1   0
6  1534.0        3.0   0   1
7  1427.0        3.0   1   0
8  1380.0        3.0   1   0
9  1494.0        3.0   1   0

In [18]:
# Step 3 - Prepare data for tensorflow (convert data types to tensors)

inputX = dataframe.loc[:, ['area', 'bathrooms']].as_matrix()

inputY = dataframe.loc[:, ['y1', 'y2']].as_matrix()

In [19]:
inputX

array([[  2.10400000e+03,   3.00000000e+00],
       [  1.60000000e+03,   3.00000000e+00],
       [  2.40000000e+03,   3.00000000e+00],
       [  1.41600000e+03,   2.00000000e+00],
       [  3.00000000e+03,   4.00000000e+00],
       [  1.98500000e+03,   4.00000000e+00],
       [  1.53400000e+03,   3.00000000e+00],
       [  1.42700000e+03,   3.00000000e+00],
       [  1.38000000e+03,   3.00000000e+00],
       [  1.49400000e+03,   3.00000000e+00]])

In [22]:
inputY

array([[1, 0],
       [1, 0],
       [1, 0],
       [0, 1],
       [0, 1],
       [1, 0],
       [0, 1],
       [1, 0],
       [1, 0],
       [1, 0]])

In [23]:
# Step 4 - Write out our hyperparamters

learning_rate =  0.000001
training_epochs = 2000
display_step = 50
n_samples = inputY.size

In [ ]:
# Step 5 - Create computation graph/neural network